# Fichiers générés par VS Code
.vscode/

# Fichiers de verrouillage de dépendances (évite les problèmes de version)
package-lock.json

# Répertoires des dépendances de Node.js
node_modules/

# Répertoires et fichiers générés par Angular
.angular/

# Fichiers de build
/dist/
/build/

# Fichiers générés par IDEs
.idea/

# Fichiers temporaires ou de cache
*.log
*.tmp

# Dossiers de tests unitaires ou de couverture
/coverage/

# Fichiers de configuration locaux ou spécifiques à un utilisateur
*.swp
*.swo
